spring:
  application:
    name: "help-desk-backend"
  #datasource configurations
  datasource:
    url: jdbc:mysql://localhost:3306/helpdesk?useSSL=false&serverTimezone=UTC
    username: root
    password: Yash321!@
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  ai:
    openai:
      base-url: https://api.groq.com/openai
      api-key: ${GROQ_API_KEY}
      chat:
        options:
          model: openai/gpt-oss-20b
          temperature: 1

    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
  profiles:
    active: dev


server:
  port: 8081

logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: DEBUG


#database configurations

another:
  student: true
